{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "chrome": 38 },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [ "@babel/plugin-proposal-private-methods", { "loose": true }]
  ]
}