@define-mixin font-heading { font-family: Sky, ui-sans-serif, system-ui; }
@define-mixin font-body { font-family: Inter, ui-sans-serif, system-ui; }

@define-mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@define-mixin line-clamp $nb {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $(nb);
}
